[submodule "src/github.com/orange-cloudfoundry/mongodb-acceptance-tests"]
	path = src/github.com/orange-cloudfoundry/mongodb-acceptance-tests
	url = https://github.com/orange-cloudfoundry/mongodb-acceptance-tests.git
	branch = replicaset-tests
[submodule "vendors/golang-release"]
	path = vendors/golang-release
	url = https://github.com/bosh-packages/golang-release
